.grey { text-decoration: none; background-color: #eee; }
.red { text-decoration: none; background-color: #f5b7b1; }
.orange { text-decoration: none; background-color: #f5cba7; }
.yellow { text-decoration: none; background-color: #f9e79f; }
.green { text-decoration: none; background-color: #abebc6; }
.blue { text-decoration: none; background-color: #aed6f1; }
.purple { text-decoration: none; background-color: #d7bde2; }
.black { text-decoration: none; background-color: #566573; }
.none { }

button {
    background-color: #eee; 
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 

.amr {
	font-family: "Cambria Math"
}

.sentence {
	font-family: "Ariel"
}