
h1 {
    font-family: "HelveticaNeue-Light", sans-serif;
	font-size:30px;
}

button {
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.color {
    background-color: #eee; 
} 

button.align {
    background-color: grey;
} 

div.options {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.download {
    background-color: #5666e6;
	width: 10%;
}

button.load {
    background-color: #ff464a;
	width: 10%;
}

button.showall {
    background-color: #2aff82;
    width: 10%;
}

input[type=file] {
    width: 12%;
}

amr {
	font-family: "Cambria Math";
	font-size: 14px;
}

amr-node {
	color : black;
}

amr-edge {
	color : grey;
}

word {
	font-family: "Calibri";
	font-size: 16px;
}
tok {
	font-family: "Calibri";
	color : #D3D3D3;
}
tag {
	font-size: 14px;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} 

table {
  border-spacing: 10px 0;
}

td{
	text-align:center;

	
}

math {
    font-family: "Cambria Math";
    font-size: 14.5px;
    color: grey;
}

.instructions{
    font-family: "HelveticaNeue-Light", sans-serif;
}

.ccg-parse{
    visibility: visible;
}

button.expand {
    background-color: #eee;
    border-radius: 20px;
    font-size: 10px;
}